
/* Tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS */

* {
    font-family: Nunito, sans-serif;
}

.not-allowed {
    cursor: not-allowed;
}

.hov i {
    transition-duration: 0.5s;
}

.hov:hover i {
    box-shadow: 0 20px 30px -11px rgba(31, 35, 65, 0.37);
    transform: translate(8px, 0px);
}

.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    content: "";
    width: 3px;
    height: 100%;
    background: #edf0f5;
}

.comment-container::before {
    position: absolute;
    display: block;
    top: 57px;
    content: "";
    width: 23px;
    height: 3px;
    background: #edf0f5;
    left: -40px;
}

.comment-container:last-child::after {
    position: absolute;
    display: block;
    top: 60px;
    left: -40px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background: #f7f8fc;
}

.gradient {
    border-image-source: linear-gradient(to bottom, rgba(190, 8, 58, 0.87), rgba(42, 9, 15, 0));
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to bottom, rgba(50, 138, 241, 0.22), rgba(99, 123, 255, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.post-border {
    border-width: 1px;
    border-image-source: linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.post-border::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: theme('colors.purple');
    opacity: 1;
}

.in-button {
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.show-error {
    color: red;
    margin-left: 8px;
}
.show-error-ideas {
    color: red;
    margin-left: 8px;
    font-size: 0.75rem;
    line-height: 1rem
}

.signup-container {
    margin: auto;
    width: 35em;
}

[v-cloak] {
    display: none;
}

.pointer {
    cursor: pointer;
}


/* MOBILE VIEW */

/* This will apply when the screen width is 687px or below */
@media screen and (max-width: 687px) {
    .padding-mob-1 {
        padding: 4px;
    }

    .font-size-mob {
        font-size: 2.25rem;
    }

    .flex-column-mob {
        flex-direction: column;
    }

    .mobile-add-admin {
        padding: 16px !important;
    }

    .input-mobile-add-admin {
        margin: 0 !important;
        padding: 0 !important;
    }

    .vh46-mobile {
       height: 46vh !important;
    }

    .pt-44-mob {
        padding-top: 44px !important;
    }

    .inline-flex-mob {
        display: inline-flex
    }

    .pl-50-mob {
        padding-left: 50px !important;
    }

    .cover-photo-mob {
        max-width: 100% !important;
    }

    .mt30-mob {
        margin-top: 30px;
    }

    .maxw350-mob {
        max-width: 350px;
    }

    .flex-col-mob {
        flex-direction: column;
    }

    .ptr-mob {
        padding-top: 24px;
        padding-right: 2px;
    }

    .py30 {
        padding: 30px 0;
    }

    .fs3em {
        font-size: 3em;
    }
}
